/* MIX */
.p-top-bottom-80 {
  padding: 80px 0;
}
.p-top-bottom-20 {
  padding: 20px 0;
}
.wrapper_small {
  max-width: 800px;
  margin: auto;
}
.margin_top_100 {
  margin-top: 100px;
}
.green-box {
  color: #fff;
  font-size: 20px;
  padding: 25px;
}
.blue-box {
  padding: 5px;
  height: 100%;
  background-color: blue;
  border: 1px solid black;
}
.marine-wallpaper {
  background-color: #3DBC9C;
}
.blue-wallpaper {
  background-color: #2D3E50;
}
.lightblue-wallpaper {
  background-color: #3A546D;
}
/* .sfondo {
  display: block;
} */
.inline-block{
  display: inline-block;
}

/* HEADER */

/* TOP HEADER */
.start-btn {
  text-transform: uppercase;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
}
.start-btn:hover{
  text-decoration: none;
  color: #fff;
}
.btn-green {
  background-color: #3DBC9C;
  color: #fff;
  font-weight: bold;font-size: 13px;
}
.btn-green span {
  line-height: 100%;
  vertical-align: text-top;
  padding-left: 5px;
}
.btn-green:hover {
  background-color: #3DBC9C;
  color: #2D3E50;
}
.header_top {
  font-family: 'Montserrat', sans-serif;
  height: 100px;
  line-height: 100px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.menu ul li {
  display: inline-block;
  text-decoration: none;
  list-style: none;
  margin: 0 10px;
}
.elemento-menu {
 color: #fff;
 text-transform: uppercase;
 font-size: 17px;
 font-weight: bold;
}
.elemento-menu:hover {
  color: #3DBC9C;
  text-decoration: none;
}

/* HERO */
.jumbo {
  padding: 70px 0;
}
.jumbo-contenuto {
  margin: auto;
  padding: 0 15px;
  max-width: 900px;
  color: #fff;
}
.jumbo-contenuto img {
  height: 300px;
}
.titolo {
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
}

.jumbo-contenuto p {
  text-transform: capitalize;
  font-size: 25px;
}
.dec_star {
  font-size: 35px;
  margin: 15px 0;
}
.dec_star i {
  margin: 0 5px;
  color: #fff;
}
.dec_star::before, .dec_star::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 3px;
  width: 100px;
  background-color: #fff;
  border-radius: 3px;
}
.dec_star.dec_star_dark i {
  color: #2C3E50;
}
.dec_star.dec_star_dark::before, .dec_star.dec_star_dark::after {
  background-color: #2C3E50;
}

/* MAIN */

/* SEZIONE 1 */

.box-portfolio {
  margin-top: 30px;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}
.box-portfolio img {
  width: 100%;
}
.box-portfolio:hover .overlay {
 display: block;
}
.box-portfolio img {
  width: 100%;
}
.overlay {
  display: none;
  position: absolute;
  background-color: rgba(26, 188, 155, 0.8);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.overlay i {
  position: absolute;
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
}
.testo-main-1 {
  color: #2D3E50;
}
.testo-main-1 h2, .testo-main-2 h2 {
  text-transform: uppercase;
  font-size: 35px;
  font-weight: bold;
}
.testo-main-2 {
  color: #fff;
}

/* SEZIONE 2 */
.bottone {
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid white;
  border-radius: 5px;
  color: #fff;
  padding: 20px 25px;
}
.bottone:hover {
  color: #2D3E50;
  background-color:#fff;
}

/* SEZIONE 3 */

.no-border {
  border: none;
  box-shadow: none;
}
.colore-bottone {
  background-color: #3DBC9C;
  color: #fff;
  padding: 12px 25px;
  font-size: 20px;
}
.colore-bottone:hover {
  color: #fff;
  background-color: #319B81;
}

/* FOOTER */

.col_footer {
  color: #fff;
  text-align: center;
}
.col_footer h4 {
  font-size: 28px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 25px;
}
.col_footer p {
  font-size: 20px;
}
.socials ul {
  padding-inline-start: 0;
}
.socials ul li {
  display: inline-block;
  text-decoration: none;
  list-style: none;
  height: 50px;
  width: 50px;
  line-height: 50px;
  border: 2px solid #fff;
  border-radius: 100%;
}
.socials ul li:hover {
  background-color: #fff;
  text-decoration: none;
}
.socials ul li:hover .social {
  color: #2D3E50;
}
.social {
  color: #fff;
  font-size: 18px;
  margin: 0 15px;
  height: 100%;
  width: 100%;
}
.copyright {
  color: #fff;
}

/* MEDIA */

@media screen and (min-width: 992px) {
  .start-btn {
    font-size: 25px;
  }
  .testo-main-1 h2, .testo-main-2 h2 {
    font-size: 50px;
  }
  .titolo {
    font-size: 65px;
  }
}
