/* MIX */
.p-top-bottom-80 {
  padding: 80px 0;
}
.p-top-bottom-20 {
  padding: 20px 0;
}
.wrapper_small {
  max-width: 800px;
  margin: auto;
}
.margin_top_100 {
  margin-top: 100px;
}
.green-box {
  color: #fff;
  font-size: 20px;
  padding: 25px;
}
.blue-box {
  padding: 5px;
  height: 100%;
  background-color: blue;
  border: 1px solid black;
}
.marine-wallpaper {
  background-color: #3DBC9C;
}
.blue-wallpaper {
  background-color: #2D3E50;
}
.lightblue-wallpaper {
  background-color: #3A546D;
}
.sfondo {
  display: block;
}
.inline-block{
  display: inline-block;
}

/* HEADER */

/* TOP HEADER */
.start-btn {
  text-transform: uppercase;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
}
.start-btn:hover{
  text-decoration: none;
  color: #fff;
}
.header_top {
  height: 100px;
  line-height: 100px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.menu ul li {
  display: inline-block;
  text-decoration: none;
  list-style: none;
  margin: 0 10px;
}
.elemento-menu {
 color: #fff;
 text-transform: uppercase;
 font-size: 17px;
 font-weight: bold;
}
.elemento-menu:hover {
  color: #3DBC9C;
  text-decoration: none;
}

/* HERO */
.jumbo {
  padding: 70px 0;
}
.jumbo-contenuto {
  margin: auto;
  padding: 0 15px;
  max-width: 900px;
  color: #fff;
}
.jumbo-contenuto img {
  height: 300px;
}
.titolo {
  font-size: 65px;
  font-weight: bold;
  text-transform: uppercase;
}
.stella {
  font-size: 38px;
  margin: 0 20px;
}
.ghirigori{
  margin: 20px 0;
}
.ghirigori hr {
  display: inline-block;
  max-width: 90px;
  width: 20%;
  border: 2px solid;
  border-radius: 5px;
}
.jumbo-contenuto p {
  text-transform: capitalize;
  font-size: 25px;
}

/* MAIN */

/* SEZIONE 1 */

.box-portfolio {
  margin-top: 30px;
  border-radius: 5px;
  width: 100%;
}
.casa {
  background-image: url(../img/cabin.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}
.box-portfolio:hover {
  background-color: rgba(61, 188, 156, 0.7);
}
.box-portfolio img {
  width: 100%;
}
.testo-main-1 {
  color: #2D3E50;
}
.testo-main-1 h2, .testo-main-2 h2 {
  text-transform: uppercase;
  font-size: 35px;
  font-weight: bold;
}
.testo-main-2 {
  color: #fff;
}

/* SEZIONE 2 */
.bottone {
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid white;
  border-radius: 5px;
  color: #fff;
  padding: 20px 25px;
}
.bottone:hover {
  color: #2D3E50;
  background-color:#fff;
}

/* SEZIONE 3 */

.col_footer {
  color: #fff;
  text-align: center;
}
.col_footer h4 {
  font-size: 28px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 25px;
}
.col_footer p {
  font-size: 20px;
}
.socials ul li {
  display: inline-block;
  text-decoration: none;
  list-style: none;
  margin: 0 15px;
}
.social {
  color: #fff;
}
.socials ul {
  padding-inline-start: 0;
}

@media screen and (min-width: 992px) {
  .start-btn {
    font-size: 25px;
  }
  .testo-main-1 h2, .testo-main-2 h2 {
    font-size: 50px;
  }
}
