/* MIX */
.p-top-bottom-80 {
  padding: 80px 0;
}
.p-top-bottom-20 {
  padding: 20px 0;
}
.wrapper_small {
  max-width: 800px;
  margin: auto;
}
.margin_top_100 {
  margin-top: 100px;
}
.red-box {
  margin-top: 30px;
  height: 100px;;
  background-color: red;
  border: 1px solid black;
}
.green-box {
  padding: 5px;
  height: 100%;
  background-color: green;
  border: 1px solid black;
}
.blue-box {
  padding: 5px;
  height: 100%;
  background-color: blue;
  border: 1px solid black;
}
.marine-wallpaper {
  background-color: #3DBC9C;
}
.blue-wallpaper {
  background-color: #2D3E50;
}
.lightblue-wallpaper {
  background-color: #3A546D;
}
.sfondo {
  display: block;
}
.inline-block{
  display: inline-block;
}

/* HEADER */

/* TOP HEADER */
.start-btn {
  text-transform: uppercase;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
}
.start-btn:hover{
  text-decoration: none;
  color: #fff;
}
.header_top {
  height: 100px;
  line-height: 100px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.menu ul li {
  display: inline-block;
  text-decoration: none;
  list-style: none;
  margin: 0 10px;
}
.elemento-menu {
 color: #fff;
 text-transform: uppercase;
 font-size: 17px;
 font-weight: bold;
}
.elemento-menu:hover {
  color: #3DBC9C;
  text-decoration: none;
}

/* HERO */
.hero {
  background-color: orange;
  width: 50px;
  height: 50px;
}
.jumbo {
  padding: 70px 0;
}
.jumbo-contenuto {
  margin: auto;
  padding: 0 15px;
  max-width: 900px;
}

@media screen and (min-width: 992px) {
  .start-btn {
    font-size: 25px;
  }
}
